/* @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: normal;
    src: local('Orbitron'), url('Orbitron.woff') format('woff');
} */

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
#Logo {
	font-family: 'Orbitron';
	font-size: 25px;
	/* color: ; */
}

#Diagnus {
	background-color: white;
}

#HeaderWord {
	display: flex;
	justify-content: flex-start;
	font-size: 1.2em;
	width: 150px;
	border: none;
	box-shadow: none;
}

#HeaderWord :hover {
	background-color: white;
}

#SignInOut {
	position: fixed;
	right: 0px;
	top: 0px;
	padding-top: 12px;
	margin-top: 0px;
}

#Navbar {
	margin: 0;
	position: fixed;
	width: 100%;
	z-index: 4;
}

#Mobileeee {
	display: none;
}

.HeaderBut {
	background-color: white !important;
	transition: all .2s ease-in-out; 
}

.HeaderBut :hover {
    color: #4183C4;
	cursor: pointer;
	transform: scale(1.1); 
} 


.ui.active.button {
	background-color: white;
} 

#BulletinFS, #DashboardFS {
	font-size: 18px;
}

.ui.menu {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
}

/* if you do this, the search bar is strange */

@media screen and (max-width: 600px) {
	#Mobileeee {
		display: block;
		/* margin-top: 18px;
		font-size: 15px;
		float: left; */
	}

	/* .headerWord {
	display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	} */

	#Navbar {
		display: flex;
		flex-direction: column;
	}

	#HeaderWord {
		display: flex;
	}

	#BulletinFS, #DashboardFS {
		font-size: 18px;
	}

	.ui.button.HeaderBut  {
		padding-left: 0px;
	}
}