/* @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: normal;
    src: local('Orbitron'), url('Orbitron.woff') format('woff');
} */

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
#Logo {
	font-family: 'Orbitron';
	font-size: 25px;
	/* color: ; */
}

#Diagnus {
	background-color: white;
}

#HeaderWord {
	display: flex;
	justify-content: flex-start;
	font-size: 1.2em;
	width: 150px;
}

#HeaderWord :hover {
	background-color: white;
}

.ui.button {
	background-color: white;
}

#Navbar {
	margin: 0;
	position: fixed;
	width: 100%;
	z-index: 4;
}

/* if you do this, the search bar is strange */

@media screen and (max-width: 845px) {
	#Navbar {
		display: flex;
		flex-direction: column;
	}
	/* .ui.menu:not(.vertical) .right.menu {
    margin-left: 0px;
  } */
}