.ui.form textarea, .ui.form input[type=text] {
    background: transparent;
    resize: none;
    border-radius: 25px;
    border: 1px solid #446cb3;
}

.ui.form textarea:focus, .ui.form input[type=text]:focus {
    background: transparent;
    resize: none;
    border-radius: 25px;
    border: 1px solid #446cb3;
}