/* For  */
.helpme {
    padding-left: 20px;
    
}

.card-container {
    height: 750px;
    width: 110%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin: 0;
}

img {
    height: 350px;
}

.readmore {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

.icon {
    position: left;
}

/* Large Screens */
@media(min-width: 700px) {
    section {
        /* Responsive padding - 15% for sides */
        padding: 0% 15%;
    }
    .card-container {
        height: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .img_wrap {
        width: 30%;
        padding-right: 10px;
    }

    .text_wrap {
        width: 70%;
        padding-left: 10px;
    }

    img {
        height: 300px;
        width: 30%;
    }
}
