.forceBlack {
    color: black;
}

.hoverLink:hover {
    color: #1e70bf;
    text-decoration: none;
}

#MobileDisplay {
    display: none; 
}

#NormalDisplay {
    right: 5%;
}

@media screen and (max-width: 846px) {
    #MobileDisplay {
        display: block;
    }

    #NormalDisplay {
        display: none;
    }
}