.forceBlack {
    color: black;
}

.hoverLink:hover {
    color: #1e70bf;
    text-decoration: none;
}

#MobileDisplay {
    display: none; 
    background-color: #41a3c4 !important;
    color: white !important;
}

#NormalDisplay {
    float: right;
    background-color: #41a3c4 !important;
    color: white !important;
}

@media screen and (max-width: 846px) {
    #MobileDisplay {
        display: inline-block;
        float: right;
        margin-right: 0px;
    }

    .ui.labeled.icon.button, .ui.labeled.icon.buttons.button {
        padding-left: 0px;
    }

    #NormalDisplay {
        display: none;
    }
}