/* @font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: normal;
    src: local('Orbitron'), url('Orbitron.woff') format('woff');
} */

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
#Logo {
    font-family: 'Orbitron';
    font-size: 25px;
    /* color: ; */

}

.headerWord {
  font-size: 1.2em;
  padding: 0;
  border: none;
  padding: none;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* .menu {
  display: inline-flex;
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
} */

 body{
  background: rgb(250, 250, 250)  ;
  font-family: 'Open Sans', sans-serif;
}

button {
  height: 35px;
}