@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

#Logo {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: black;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#BGColour {
  display: inline-flex;
  background-color: rgb(250, 250, 250);
  position: fixed;
  width: 100%;
}

body{
  background: rgb(250, 250, 250)  ;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid grey;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: grey;
}

.searchTerm:focus{
  color: grey;
}

.searchButton {
  width: 36px;
  height: 36px;
  border: 1px solid grey;
  background: grey;
  border-radius: 0 5px 5px 0;
  padding: 0;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 20%;
  position: absolute;
  top: 7px;
  left: 68%;
}

#Login {
    position: absolute;
    left: 90%
}

#SearchButton {
    height: 35px;
    width: 30px;
}
