/* :root {
    --spacing-none: 0;
    --spacing-extra-small: .25rem;
    --spacing-small: .5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-extra-large: 4rem;
    --spacing-extra-extra-large: 8rem;
    --spacing-extra-extra-extra-large: 16rem;
} */

.sizingg {
    width: 80rem;
}

#Testing123 {
    font-size: 40px;
}

/* Mobile screens */
@media only screen and (max-width: 767px) {
    /* #formContainer {
        height: 700px;
        display: flex;
        flex-direction: row;
        margin-top: 16rem;
        margin-bottom: 4rem;
    }

    #stepContainer {
        width: 20%;
        margin-right: 5rem;
    }

    #inputContainer {
        width: 80%;
    } */
}