.body {
    padding-top: 50px;
}

button:disabled {
    background: white;
    color: grey;
    text-decoration: line-through;
}

.ui.icon.button {
    height: 50px; 
    width: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
#OrbitronF {
	font-family: 'Orbitron';
}
 

/* Edit below to standardize how all the input boxes look
.ui.form .field  {
    margin: 0rem 0rem 2rem 0rem;
}

.ui.form textarea, .ui.form input[type=text] {
    background: transparent;
    resize: none;
    border-radius: 25px;
    border: 1px solid #446cb3;
}

.ui.form textarea:focus, .ui.form input[type=text]:focus {
    background: transparent;
    resize: none;
    border-radius: 25px;
    border: 1px solid #446cb3;
} */

/* Mobile Screens */
@media screen and (max-width: 700px) {
    .body {
        padding-top: 105px;
    }
}