.heading {
    font-size: 3em;
}

.miniHeader {
    padding-left: 11%;
    display: flex;
    flex: 1 1 auto;
}

.headerElem {    
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 0;
    width: 10%;
    font-size: 1.5em;
}

.miniHeader :hover {
    background-color: rgb(250,250,250);
    cursor: pointer;
    text-emphasis: 0s;
}

.dropdown {
    border: none;
    padding-left: 40px;
    padding-top: 11px;
    height: 55px;
    width: 15%;
    color: #4778b1;
    font-size: 1.5em;
}

.dropitem {
    font-size: 1.2em;
}
