/* @media screen and (min-width: 30em){
    .container {
        height: 375px;
    }
} */

/* For small screens */
/* .container {
    height: 350px;
} */

@media only screen and (min-width: 768px) {
    .container {
        height: 350px;
    }
}