#cardImg {
    height: 350px;
    width: 100%;
    padding: 0px;
}

#wrapContent {
    width: 80%;
    height: 30%;
    margin: 4%;
}

.smalltxt {
    font-size: 12px;
}

#titleContainer {
    height: 30%;
}

#detailContainer {
    height: 70%;
}
/* Large Screens */
@media(min-width: 846px) {
    /* .card-container {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1% 20%;
        padding: 0;
    }

    #cardImage {
        /* width: 30%; */
        /* height: 250px;
        padding-right: 2%;
    }

    #wrapContent {
        width: 70%;
    } */
} 
