.banner {
    min-height: 100vh;
    /* background: linear-gradient(to right, rgb(0, 196, 242), rgb(62, 242, 100)); */
    background: linear-gradient( rgba(0,0,0,0.05), rgba(0, 0, 0, 0.05) ), url('../../../Images/Colorful_Memphis.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

/* f3 br-pill bg-dark-green no-underline white ba b--dark-green grow pv3 ph2 dib mr3 */
.pillButton {
    font-size: 40px;
    border-radius: 4px;
    background-color: #41a3c4;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #41a3b9;
    padding: 2rem 1rem;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
}

.pillButton:hover {
    color: white;
}

@import url('https://fonts.googleapis.com/css?family=Gabriela&display=swap');
#GabriellaF {
    font-family: 'Gabriela';
    margin: 0px;
    font-size: 1.45em;
    color: #8f8f8f;
    padding-top: 5px;
}
 
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
#FrederickaF {
    font-family: 'Fredericka the Great';
    margin: 0px;
    font-size: 1.5em;
    color: #e78200;
}
 
#LogoT {
    display: inline-flex; 
    justify-content: center;
}

#tagline {
    color: #7e7e7e;
    font-size: 3em;
}

@media screen and (max-width: 700px) {
    #FrederickaF {
        font-size: 0.81em !important;
    }
    
    #GabriellaF {
        font-size: 0.76em !important;
    }

    #tagline {
        font-size: 30px;
    }
}